<c-card>
    <c-card-header>
        <strong>Tanfolyam kiválasztása</strong>
        <div class="alert-area">
            <c-alert [(visible)]="isSendFailed"
                     [dismissible]="true"
                     color="danger"
                     fade
                     *ngIf="isSendFailed">
                <strong>Tanfolyam felvitele nem sikerült ismeretlen hiba miatt!</strong>
            </c-alert>
            <c-alert [(visible)]="isSendSuccessful"
                     [dismissible]="true"
                     color="success"
                     fade
                     *ngIf="isSendSuccessful">
                <strong>Tanfolyam felvitele sikeres volt!</strong>
            </c-alert>
        </div>
    </c-card-header>
    <c-card-body>
        <div>
            <div class="form-row align-items-center mb-3">
                <div class="col-auto"  style="max-width: 500px;">
                    <label for="training" class="mr-2">Tanfolyam</label>
                    <select id="training" [(ngModel)]="selectedTraining" class="form-control">
                        <option value="" disabled selected>Válassz egy tanfolyamot</option>
                        <option *ngFor="let training of trainings" [value]="training.code">{{ training.name }}</option>
                    </select>
                </div>

                <div class="col-auto add-button" style="max-width: 200px;">
                    <label for="date" class="mr-2">Tanfolyam időpontja:</label>
                    <input id="date" type="date" [(ngModel)]="selectedDate" class="form-control">
                </div>


            </div>

        </div>
    </c-card-body>
</c-card>
<span *ngIf="selectedDate && selectedTraining">
    <hr>

    <c-card>
        <c-card-header>
            <strong>Tanítványok hozzáadása</strong>
        </c-card-header>
        <c-card-body>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tanítvány keresése..." [formControl]="searchControl">
            </div>
            <div class="member-list" *ngIf="members.length > 0 && !isMemberSelected">
                <div class="col-sm-3" id="myScrollspy">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action search-result-row" *ngFor="let member of members" (click)="selectMember(member)">{{ member.name }}</a>
                    </div>
                </div>
            </div>
            <div class="divider-space-up">
                <ag-grid-angular
                        style="width: 100%; height: 100%;"
                        class="ag-theme-alpine"
                        [rowData]="rowData"
                        [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef"
                        [gridOptions]="gridOptions"
                        (firstDataRendered)="onFirstDataRendered($event)"
                        [frameworkComponents]="frameworkComponents"
                ></ag-grid-angular>
            </div>
             <div class="col-auto add-button" style="max-width: 200px;">
                <c-col xs="6">
                    <button cButton class="px-4 send-button" color="primary" (click)="onSubmit()" [disabled]="!selectedTraining || !selectedDate || !(rowData?.length > 0)">
                        Elküldés
                    </button>
                </c-col>
            </div>
        </c-card-body>
    </c-card>
</span>
