.search-result-row {
  cursor: pointer;
}

.selected-member-grid {
  padding-top: 15px;
}

.add-section {
  padding-top: 1px;
}

.add-button {
  padding-top: 15px;
}

.alert-area {
  padding-top: 15px;
}

.send-button {
  cursor: pointer;
}
