<c-card>
    <c-card-header>
        <strong>Tanítványok szerkesztése</strong>
    </c-card-header>
    <c-card-body>
        <ag-grid-angular
                style="width: 100%; height: 100%;"
                class="ag-theme-alpine"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                [gridOptions]="gridOptions"
                (firstDataRendered)="onFirstDataRendered($event)"
        ></ag-grid-angular>
<!--        <form (ngSubmit)="addMember()">-->
<!--            <input type="text" [(ngModel)]="newMember.name" name="name" placeholder="Név" required>-->
<!--            <input type="text" [(ngModel)]="newMember.email" name="email" placeholder="Email" required>-->
<!--            <input type="text" [(ngModel)]="newMember.mobile" name="mobile" placeholder="Telefon">-->
<!--            <input type="text" [(ngModel)]="newMember.notes" name="notes" placeholder="Megjegyzés">-->
<!--            <button type="submit">Add Member</button>-->
<!--        </form>-->
        <div class="card">
            <div class="card-header">
                <strong>Add Member</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="newMemberForm" (ngSubmit)="onSubmit()">
                    <!-- Name input field -->
                    <div class="form-group">
                        <label for="name">Név</label>
                        <input type="text" id="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid': newMemberForm?.controls?.name.invalid && newMemberForm?.controls?.name.touched}">
                        <div class="invalid-feedback" *ngIf="newMemberForm?.controls?.name.invalid && newMemberForm?.controls?.name.touched">
                            Please enter a valid name (5-100 characters).
                        </div>
                    </div>

                    <!-- Email input field -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': newMemberForm?.controls?.email.invalid && newMemberForm?.controls?.email.touched}">
                        <div class="invalid-feedback" *ngIf="newMemberForm?.controls?.email.invalid && newMemberForm?.controls?.email.touched">
                            Please enter a valid email (max 100 characters).
                        </div>
                    </div>

                    <!-- Mobile input field -->
                    <div class="form-group">
                        <label for="mobile">Telefon</label>
                        <input type="text" id="mobile" formControlName="mobile" class="form-control" [ngClass]="{'is-invalid': newMemberForm?.controls?.mobile.invalid && newMemberForm?.controls?.mobile.touched}">
                        <div class="invalid-feedback" *ngIf="newMemberForm?.controls?.mobile.invalid && newMemberForm?.controls?.mobile.touched">
                            Please enter a valid mobile number (only numbers and '+' symbol allowed).
                        </div>
                    </div>

                    <!-- Notes input field -->
                    <div class="form-group">
                        <label for="notes">Megjegyzés</label>
                        <input type="text" id="notes" formControlName="notes" class="form-control" [ngClass]="{'is-invalid': newMemberForm?.controls?.notes?.invalid && newMemberForm?.controls?.notes?.touched}">
                        <div class="invalid-feedback" *ngIf="newMemberForm?.controls?.notes?.invalid && newMemberForm?.controls?.notes?.touched">
                            Please enter a valid note (max 200 characters).
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="newMemberForm?.invalid">Submit</button>
                </form>
            </div>
        </div>

    </c-card-body>
</c-card>
