<c-card>
    <c-card-header>
        <strong>Tanítványok szerkesztése</strong>
        <div class="alert-area">
            <c-alert [(visible)]="isDeleteFailed"
                     [dismissible]="true"
                     color="danger"
                     fade
                     *ngIf="isDeleteFailed">
                    <strong>Tanítvány törlése nem sikerült ismeretlen hiba miatt!</strong>
            </c-alert>
            <c-alert [(visible)]="isEditFailed"
                     [dismissible]="true"
                     color="danger"
                     fade
                     *ngIf="isEditFailed">
                    <strong>Tanítvány szerkesztése nem sikerült ismeretlen hiba miatt!</strong>
            </c-alert>
            <c-alert [(visible)]="isCreateFailed"
                     [dismissible]="true"
                     color="danger"
                     fade
                     *ngIf="isCreateFailed">
                    <strong>Tanítvány létrehozása nem sikerült ismeretlen hiba miatt!</strong>
            </c-alert>
            <c-alert [(visible)]="isDeleteSuccessful"
                     [dismissible]="true"
                     color="success"
                     fade
                     *ngIf="isDeleteSuccessful">
                    <strong>Tanítvány törlése sikeres volt!</strong>
            </c-alert>
            <c-alert [(visible)]="isEditSuccessful"
                     [dismissible]="true"
                     color="success"
                     fade
                     *ngIf="isEditSuccessful">
                    <strong>Tanítvány szerkesztése sikeres volt!</strong>
            </c-alert>
            <c-alert [(visible)]="isCreateSuccessful"
                     [dismissible]="true"
                     color="success"
                     fade
                     *ngIf="isCreateSuccessful">
                    <strong>Tanítvány létrehozása sikeres volt!</strong>
            </c-alert>
        </div>
    </c-card-header>
    <c-card-body>
        <ag-grid-angular
                style="width: 100%; height: 100%;"
                class="ag-theme-alpine"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                [gridOptions]="gridOptions"
                (firstDataRendered)="onFirstDataRendered($event)"
                [frameworkComponents]="frameworkComponents"
        ></ag-grid-angular>
        <div class="card">
            <div class="card-header">
                <strong>Tanítvány hozzáadása</strong>

            </div>
            <div class="card-body">
                <form [formGroup]="newMemberForm" (ngSubmit)="createMember()">
                    <!-- Name input field -->
                    <div class="form-group">
                        <label for="name">Név</label>
                        <input type="text" id="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid': newMemberForm?.controls?.name.invalid && newMemberForm?.controls?.name.touched}">
                        <div class="invalid-feedback" *ngIf="newMemberForm?.controls?.name.invalid && newMemberForm?.controls?.name.touched">
                            Név kitöltése kötelező. (minimum 5, maximum 100 karakter)
                        </div>
                    </div>

                    <!-- Email input field -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': newMemberForm?.controls?.email.invalid && newMemberForm?.controls?.email.touched}">
                        <div class="invalid-feedback" *ngIf="newMemberForm?.controls?.email.invalid && newMemberForm?.controls?.email.touched">
                            Email kitöltése kötelező. (minimum 5, maximum 100 karakter)
                        </div>
                    </div>

                    <!-- Mobile input field -->
                    <div class="form-group">
                        <label for="mobile">Telefon</label>
                        <input type="text" id="mobile" formControlName="mobile" class="form-control" [ngClass]="{'is-invalid': newMemberForm?.controls?.mobile.invalid && newMemberForm?.controls?.mobile.touched}">
                        <div class="invalid-feedback" *ngIf="newMemberForm?.controls?.mobile.invalid && newMemberForm?.controls?.mobile.touched">
                            Telefon kitöltése kötelező, csak számok és + jel az elfogadott.
                        </div>
                    </div>

                    <!-- Notes input field -->
                    <div class="form-group">
                        <label for="notes">Megjegyzés</label>
                        <input type="text" id="notes" formControlName="notes" class="form-control" [ngClass]="{'is-invalid': newMemberForm?.controls?.notes?.invalid && newMemberForm?.controls?.notes?.touched}">
                        <div class="invalid-feedback" *ngIf="newMemberForm?.controls?.notes?.invalid && newMemberForm?.controls?.notes?.touched">
                            Maximum 200 karakter lehet.
                        </div>
                    </div>
                    <button type="submit" cButton color="primary" class="add-member-button">Hozzáadás</button>
                </form>
            </div>
        </div>

    </c-card-body>
</c-card>
