<c-card>
    <c-card-header>
        <strong>Tanítványok szerkesztése</strong>
        <div class="alert-area">
            <c-alert [(visible)]="isDeleteFailed"
                     [dismissible]="true"
                     color="danger"
                     fade
                     *ngIf="isDeleteFailed">
                    <strong>Tanítvány törlése nem sikerült ismeretlen hiba miatt!</strong>
            </c-alert>
            <c-alert [(visible)]="isEditFailed"
                     [dismissible]="true"
                     color="danger"
                     fade
                     *ngIf="isEditFailed">
                    <strong>Tanítvány szerkesztése nem sikerült ismeretlen hiba miatt!</strong>
            </c-alert>
            <c-alert [(visible)]="isCreateFailed"
                     [dismissible]="true"
                     color="danger"
                     fade
                     *ngIf="isCreateFailed">
                    <strong>Tanítvány létrehozása nem sikerült ismeretlen hiba miatt!</strong>
            </c-alert>
            <c-alert [(visible)]="isDeleteSuccessful"
                     [dismissible]="true"
                     color="success"
                     fade
                     *ngIf="isDeleteSuccessful">
                    <strong>Tanítvány törlése sikeres volt!</strong>
            </c-alert>
            <c-alert [(visible)]="isEditSuccessful"
                     [dismissible]="true"
                     color="success"
                     fade
                     *ngIf="isEditSuccessful">
                    <strong>Tanítvány szerkesztése sikeres volt!</strong>
            </c-alert>
            <c-alert [(visible)]="isCreateSuccessful"
                     [dismissible]="true"
                     color="success"
                     fade
                     *ngIf="isCreateSuccessful">
                    <strong>Tanítvány létrehozása sikeres volt!</strong>
            </c-alert>
        </div>
    </c-card-header>
    <c-card-body>
        <ag-grid-angular
                style="width: 100%; height: 100%;"
                class="ag-theme-alpine"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                [gridOptions]="gridOptions"
                (firstDataRendered)="onFirstDataRendered($event)"
                [frameworkComponents]="frameworkComponents"
        ></ag-grid-angular>


    </c-card-body>
</c-card>
<app-add-student (isCreateFailed)="isCreateFailedSet($event)"
                (isCreateSuccessful)="isCreateSuccessfulSet($event)"
                (loadMembers)="loadMembers()"
                (pushNewMemberToRowData)="pushNewMemberToRowData($event)">

</app-add-student>

<c-modal id="liveDemoModal" [visible]="visibleDeleteConfirm" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
        <h5 cModalTitle>Tanítvány törlése</h5>
        <button (click)="toggleDeleteConfirm()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>Biztos vagy benne, hogy kitörlöd ezt a tanítványt minden adatával együtt?</c-modal-body>
    <c-modal-footer>
        <button (click)="toggleDeleteConfirm()" cButton color="secondary">
            Mégsem
        </button>
        <button cButton color="danger" (click)="deleteMember($event)">Törlés</button>
    </c-modal-footer>
</c-modal>
