<c-card>
    <c-card-header>
        <strong>Szinkronizálás a Mailchimp-el</strong>
        <div class="col-auto add-button divider-space-both" style="max-width: 250px;">
            <label for="date" class="mr-2 divider-space-down" style="width: 100%">Milyen időponthoz szinkronizáljon:</label>
            <input id="date" type="date" [(ngModel)]="selectedDate" class="form-control">
        </div>
        <div class="alert-area">
            <c-alert [(visible)]="isSyncFailed"
                     [dismissible]="true"
                     color="danger"
                     fade
                     *ngIf="isSyncFailed">
                <strong>Mailchimp szinkronizáció nem sikerült ismeretlen hiba miatt!</strong>
            </c-alert>
            <c-alert [(visible)]="isSyncSuccessful"
                     [dismissible]="true"
                     color="success"
                     fade
                     *ngIf="isSyncSuccessful">
                <strong>Mailchimp szinkronizáció sikeres volt!</strong>
            </c-alert>
        </div>
    </c-card-header>
    <c-card-body *ngIf="selectedDate">
        <button cButton color="danger" size="lg" (click)="handleMailchimpSync()" *ngIf="!isLoading">Szinkronizálás</button>
        <button cButton class="m-1" disabled *ngIf="isLoading">
            <c-spinner aria-hidden="true" size="sm"></c-spinner>
            Folyamatban...
        </button>
    </c-card-body>
    <c-card-footer>
        Ez a folyamat tanítványoktól és tag frissítésektől függően hosszú ideig tarthat, akár percekig is.
    </c-card-footer>
</c-card>
