<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
    <c-container [fluid]="true">
        <button
                [cSidebarToggle]="sidebarId"
                cHeaderToggler
                class="ps-1"
                toggle="visible"
        >
            <svg cIcon
                 name="cilMenu"
                 size="lg"
            ></svg>
        </button>
        <c-header-nav class="d-none d-lg-flex me-auto">
            <c-nav-item>
                <a cNavLink routerLink="/dashboard" routerLinkActive="active">
                    Kezdőlap
                </a>
            </c-nav-item>
        </c-header-nav>

        <c-header-nav class="ms-3 me-sm-4">
            <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
        </c-header-nav>
        <!--aside toggler-->
    </c-container>
    <c-header-divider></c-header-divider>
    <c-container [fluid]="true">
        <!-- breadcrumbs -->
        <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
    </c-container></ng-container>

<ng-template #userDropdown>
    <div *ngIf="currentUser">{{currentUser}}</div>
    <c-dropdown alignment="end" variant="nav-item">
        <a href
           [caret]="false"
           cDropdownToggle
           class="py-0"
        >
            <svg cIcon class="me-2" name="cilUser"></svg>
        </a>
        <ul cDropdownMenu class="pt-0 pr-5 w-auto">
            <li>
                <h6 cDropdownHeader class="bg-light dark:bg-white dark:bg-opacity-10 fw-semibold py-2">Felhasználó</h6>
            </li>
            <li>
                <a (click)="logOut()" cDropdownItem>
                    <svg cIcon class="me-2" name="cilExitToApp"></svg>
                    Kijelentkezés
                </a>
            </li>
        </ul>
    </c-dropdown>
</ng-template>
<!--</c-header>-->

